@charset "utf-8";

/* ImageFlow Settings
==================================== */
#myImageFlow_caption {
	/*visibility: hidden;*/
	color: #000;
}

@media screen, projection {
	.imageflow {
		overflow:hidden;
		position:relative; 
		text-align:left;
		visibility:hidden;
		width:100%;
	}
	.imageflow img {
		border:none;
		position:absolute;
		top:0px;
		visibility:hidden;
		-ms-interpolation-mode:bicubic; /* Enables bicubic image resampling for the IE7 */
	}
	.imageflow p {
		margin:0 auto;
		text-align:center;
	}
	.imageflow .loading {
		border:1px solid white;
		height:15px;
		left:50%;
		margin-left:-106px;
		padding:5px;
		position:relative;
		visibility:visible;
		width:200px;
	}
	.imageflow .loading_bar {
		background:#fff;
		height:15px;
		visibility:visible;
		width:1%;
	}
	.imageflow .navigation{
		z-index:10000;
	}
	.imageflow .caption {
		position:relative; 
		text-align:center;
		z-index: 10001;
		top: 60px;
		color: #FFF;
		font-size: 14px;
	}
	
		.imageflow .caption .big {
			font-size: 18px;
		}
	
	.imageflow .scrollbar {
		border-bottom:1px solid #b3b3b3;
		position:relative; 
		visibility:hidden;
		z-index:10002;
		height:1px;
	}
	.imageflow .slider {
		background:url(slider.png) no-repeat;
		height:16px;
		margin:-6px 0 0 -7px;
		position:absolute;
		width:16px;
		z-index:10003;
	}
	.imageflow .slideshow {
		cursor:pointer;
		height:14px;
		margin:20px 0 0 20px;
		position:absolute;
		width:14px;
		z-index:10003;
	}
	
	.imageflow .slideshow.pause {
		background:url(button_pause.png) no-repeat;
		position: absolute;
		top: 284px;
		left: 90px;
	}
	
	.imageflow .slideshow.play {
		background:url(button_play.png) no-repeat;
		position: absolute;
		top: 284px;
		left: 90px;
	}

	@-moz-document url-prefix() {

		.imageflow .slideshow.pause {
			top: 285px;
		}

		.imageflow .slideshow.play {
			top: 285px;
		}
	}

	.imageflow .images {
		overflow:hidden;
		white-space:nowrap;
	}
	.imageflow .button {
		cursor:pointer;
		height:17px;
		position:relative;
		width:17px;
	}
	.imageflow .previous {
		background: url(button_left.png) top left no-repeat;
		float:left;
		margin: -7px 0 0 -30px;
	}
	.imageflow .next {
		background: url(button_right.png) top left no-repeat;
		float:right;	
		margin:-7px -30px 0 30px;
	}
}